body {
	background-color: #000; /* add a background image, potentially change with each level? */
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif; /* weight 300, 400, 500, 700 / italc */
}

header {
	margin: 0 auto;
	width: 100%;
	display: block;
	text-align: center;
}

.new-game-button {
	margin: 0 auto;
	width: 30%;
	display: block;
	padding: 10px;
	text-align: center;
	font-family: 'Roboto', sans-serif; 
	font-size: 17px;
	font-weight: 500;
	color: #000;
	background-color: gold;
	margin-bottom: 40px;
}

#board {
	margin: 0 auto;
	width: 600px;
	display: block;
	border: 1px solid white;
}

.facedown, .character {
	background-size: contain;
	background-repeat: no-repeat;
	width: 110px;
	height: 155px;
	text-align: center;
	cursor: pointer;
	margin: 5px;
	display: inline-block;
}

.character {
	background-image: url("images/harry.png");
}

.facedown {
	background-image: url("images/facedown_card.png");
}








