body {
	background-image: url("images/background.png");
	background-repeat: no-repeat;
	background-position: center;
	color: #000;
	font-family: 'Roboto', sans-serif; /* weight 300, 400, 500, 700 / italc */}

.main-page {
	background: rgba(0, 0, 0, 0.7);
	display: block;
	width: 60%;
	margin: 0 auto;
}

.title-image{
	height: 110px;
	width: 550px;
	display: block;
	margin: 0 auto;
}

.board {
	margin: 0 auto;
	width: 80%;
	display: block;
	padding: 10px;
	height: 600px;
	white-space: nowrap;
}

.card {
	background-size: contain;
	background-repeat: no-repeat;
	width: 120px;
	height: 155px;
	text-align: center;
	cursor: pointer;
	margin: 5px;
	display: inline-block;
}

.character {
	background-image: url("images/harry.png");
}

.facedown {
	background-image: url("images/facedown_card.png");
}

.new-game-button {
	margin: 0 auto;
	width: 25%;
	display: block;
	background-color: none;
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}







